Options +FollowSymLinks
RewriteEngine On

# Don't rewrite if the directory is birthday
RewriteCond %{REQUEST_URI} !/uploads/birthday/

# Rewrite everything else to file.php
RewriteRule ^(.*)$ file.php?file=$1 [QSA,L]
